body{
  background-color: hsl(358, 79%, 66%);
}
.App{
  text-align: center;
  color:white;
  position: absolute;
  top:50%;
  left:50%;
  width:99%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2{
  font-size: 45px;
}
button{
  padding:15px 25px;
  margin:10px 5px;
  font-size: 19px;
  font-weight: 700;
  background-color: hsl(238, 40%, 52%);
  color:white;
  border:none;
  border-radius: 5px;
  letter-spacing: .1rem;
}
